{% extends 'admin.twig' %}

{% block content %}
    <div class="card">
        <div class="card-content">
            <h2 class="card-title">{{ 'DisableSiteTracking_FormTitle' | translate }}</h2>

            <form action="?module=DisableTracking&action="
                  method="post">
                <input type="hidden" name="saveDisabledSitesState" value="1">

                <table style="width: 50%;">
                    <tr>
                        <th style="text-align: left">{{ 'DisableSiteTracking_SiteDisabledLabel' | translate }}</th>
                        <th style="text-align: left">{{ 'DisableSiteTracking_SiteNameLabel' | translate }}</th>
                    </tr>

                    {% for site in sites %}
                        <tr>
                            <td>
                                <input type="checkbox"
                                        {% if site.disabled %}
                                            checked="checked"
                                        {% endif %}
                                       name="disable-{{ site.id }}"
                                       style="position: relative; left: auto; opacity: 1;pointer-events: all"
                                />
                            </td>
                            <td>
                                <a href="{{ site.url }}"
                                   target="_blank">
                                    {{ site.label }}
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>

                <br>
                <input type="submit" class="btn btn-large"
                       value="{{ 'DisableSiteTracking_SaveButtonLabel' | translate }}"/>
            </form>
        </div>
    </div>
{% endblock %}
